/*

Site criado por Thiago Aymar

*/

body {
	margin: 0;
	height: 100%;
	width:100%;
}

/* Cabeçalho */

header {
	position: absolute;
	margin: 0;
	width: 100%;
	height: 20%;
	border-bottom: solid 1px #C4C4C4;
}

.titulo {
	position: absolute;
	left: 50px;
}

.titulo h1 {
	font-size: 30px;
	margin: 0;
}

.titulo h2 {
	font-size: 15px;
	margin: 0;

}

/* TimeLine */

.timeline {
	position: absolute;
	background-color: blue;
	width: 500px;
	height: 500px;
	top: 200px;
	left: 150px;
	padding: 15px;

}

#ordem-artigo {
	font-size: 20px;
	color: gray;
}